# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local

*.log

# Hardhat
artifacts/
cache/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
